name: Deploy Application

# 在代码推送到main分支时自动触发
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Copy project files to server
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USERNAME }}
        password: ${{ secrets.SERVER_PASSWORD }}
        source: "."
        target: "/var/www/cloudcheck"

    - name: Build and Deploy Application on server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USERNAME }}
        password: ${{ secrets.SERVER_PASSWORD }}
        script: |
          cd /var/www/cloudcheck

          # 如果config.json不存在，则创建
          if [ ! -f "config.json" ]; then
            echo "{}" > config.json
          fi

          # 构建Docker镜像
          docker build -t obs-monitor:latest .

          # 停止并删除旧容器
          docker stop obs-monitor-container || true
          docker rm obs-monitor-container || true

          # 启动新容器
          docker run -d \
            -p 127.0.0.1:3000:3000 \
            --name obs-monitor-container \
            --restart always \
            -v /var/www/cloudcheck/config.json:/usr/src/app/config.json \
            -e JWT_SECRET=${{ secrets.JWT_SECRET }} \
            -e ADMIN_USERNAME=${{ secrets.ADMIN_USERNAME }} \
            -e ADMIN_PASSWORD=${{ secrets.ADMIN_PASSWORD }} \
            obs-monitor:latest