name: Deploy Backup Manager

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'MSSQL_Backup_Service_Simple/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Remove node_modules before copying
        run: rm -rf node_modules

      - name: Copy project files to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_PASSWORD }}
          source: "."
          target: "/www/wwwroot/yidabackup"

      - name: Setup and run application on server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_PASSWORD }}
          script: |
            # 进入新项目的目录
            cd /www/wwwroot/yidabackup

            # 从 GitHub Secrets 创建 .env 文件
            echo "ADMIN_USERNAME=${{ secrets.ADMIN_USERNAME }}" > .env
            echo "ADMIN_PASSWORD=${{ secrets.ADMIN_PASSWORD }}" >> .env
            echo "JWT_SECRET=${{ secrets.JWT_SECRET }}" >> .env
            echo "HUAWEI_OBS_AK=${{ secrets.HUAWEI_OBS_AK }}" >> .env
            echo "HUAWEI_OBS_SK=${{ secrets.HUAWEI_OBS_SK }}" >> .env
            echo "WECHAT_CORP_ID=${{ secrets.WECHAT_CORP_ID }}" >> .env
            echo "WECHAT_AGENT_ID=${{ secrets.WECHAT_AGENT_ID }}" >> .env
            echo "WECHAT_SECRET=${{ secrets.WECHAT_SECRET }}" >> .env

            # 安装依赖
            echo "正在安装npm依赖..."
            npm install --production

            # 使用 PM2 启动或重启应用
            echo "正在使用PM2启动应用..."
            # 确保服务器上已全局安装 pm2: npm install -g pm2
            PORT=11451 pm2 startOrRestart ecosystem.config.js
