name: Deploy OBS Monitor via SSH

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Copy project files to server
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        source: "."
        target: "/root/obs-monitor"

    - name: Build and Deploy on server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          cd /root/obs-monitor
          docker build -t obs-monitor:latest .
          docker stop obs-monitor-container || true
          docker rm obs-monitor-container || true
          docker run -d \
            -p 127.0.0.1:3000:3000 \
            --name obs-monitor-container \
            --restart always \
            -v /root/obs-monitor/config.json:/usr/src/app/config.json \
            -e JWT_SECRET=${{ secrets.JWT_SECRET }} \
            -e ADMIN_USERNAME=${{ secrets.ADMIN_USERNAME }} \
            -e ADMIN_PASSWORD=${{ secrets.ADMIN_PASSWORD }} \
            obs-monitor:latest